.dashboard-layout {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */

.sidebar {
  width: 260px;

  background: #01220c8f;

  color: #fff;

  padding: 30px 20px;
}

.logo {
  margin-bottom: 40px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 14px 18px;

  border-radius: 10px;

  margin-bottom: 12px;

  cursor: pointer;

  transition: 0.3s;
}

.sidebar li:hover,
.sidebar li.active {
  background: #186800;
}

/* MAIN */

.main-content {
  flex: 1;

  background: #f8fafc;
}

/* TOPBAR */

.topbar {
  height: 80px;

  background: #ffffff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 30px;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
}

.topbar button {
  border: none;

  background: #ef4444;

  color: #fff;

  padding: 10px 18px;

  border-radius: 8px;
}

/* CONTENT */

.content-area {
  padding: 30px;
}
